<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdw.mapper.AnalyseMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
	  c.id,
	  count(c.id) total,
	  c.carde cardename,
	  (select question_name from target where id=c.target) question_name,
	  c.target1,
	  c.target2,
	  c.target3,
	  c.target4,
	  c.target5,
	  c.target6,
	  c.target7,
	  c.target8,
	  c.target9,
	  c.target10,
	  ((c.target1*c.weight1+c.target2*c.weight2+c.target3*c.weight3+c.target4*c.weight4+c.target5*c.weight5+
	  c.target6*c.weight6+c.target7*c.weight7+c.target8*c.weight8+c.target9*c.weight9+c.target10*c.weight10)
	  /(c.weight1+c.weight2+c.weight3+c.weight4+c.weight5+c.weight6+c.weight7+c.weight8+c.weight9+c.weight10))
	   as target
	   
	  
	</sql>

	<select id="findCollectPage" resultType="com.sdw.entity.AnalyseFormMap">
		select
		<include refid="selectId" />
		from collect c
		left join carde a on a.id=c.carde
		where 1 = 1
		<if test="cardename != null and cardename != ''">
		and c.carde like '%${cardename}%'
		</if>
        group by c.carde,question_name
        <if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<select id="findCollect" resultType="com.sdw.entity.AnalyseFormMap">
	    select
		<include refid="selectId" />
		from collect c
		left join target a on a.id=c.target
		where 1=1
		<if test="question_name != null and question_name != ''">
		and a.question_name=#{question_name}
		</if>
		group by c.carde
	</select>
	
</mapper>