<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sdw.mapper.CardeMapper">
	<!--mybatis ehcache缓存配置 -->
	<!-- 以下两个<cache>标签二选一,第一个可以输出日志,第二个不输出日志 <cache type="org.mybatis.caches.ehcache.LoggingEhcache" 
		/> -->
	<!-- <cache type="org.mybatis.caches.ehcache.EhcacheCache"/> -->
	<!-- 以下与实体类的中字段一致 -->
	<sql id="selectId">
		id,
		cardename,
		age,
		company,
		department,
		gender,
		post,
		sdate,
		mark
	</sql>

	<select id="findCardePage" resultType="com.sdw.entity.CardeFormMap">
		select
		<include refid="selectId" />
		from carde
		where 1 = 1
		<if test="cardename != null and cardename != ''">
		and cardename like '%${cardename}%'
		</if>
		<if test="column != null">
          order by ${column} ${sort}
        </if>
	</select>
	
	<select id="findCarde" resultType="com.sdw.entity.CardeFormMap">
	    select
		<include refid="selectId" />
		from carde
	</select>
	
</mapper>